<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:screenOrientation="sensorPortrait"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zenith"
        tools:targetApi="31" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfFLa9lBs2JPmEXD8hub5s_GcDHG2f4E8" />

        <activity
            android:name=".ui.country.newsCountry.DisplayCategoryNewsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zenith.NoActionBar" />
        <activity
            android:name=".ReadNewsActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.country.CountryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.country.historyCountry.ReadHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CountryListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zenith.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsPreferencesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zenith.NoActionBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </application>

</manifest>
